.container-fluid.bg-info{style: "padding-top: 90px;min-height:800px"}
  .container
    .jumbotron.text-center{:style => "background:rgb(41, 128, 185);color:white"}
      %h1
        BudgetBuddy
      %h4 Your friendly API to the New York City budget
      %a.btn.btn-primary.btn-lg{:href => "console.html", :title => "Get started"} Get started
